/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
  overflow-y: scroll;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 100px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #f9004d;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  overflow-y: scroll;
  height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  color: #fff;
  background-color: #f9004d;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 20px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 85px;
  width: 85px;
  margin-left: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}*

,button,input{
  font-family:-apple-system, BlinkMacSystemFont, 
  'Segoe UI', Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif
}*

,li{
  list-style:none
}

.animate-before{
  transform:translateY(40px);
  opacity:0;
  pointer-events:none
}

.animate-after{
  transform:translateY(-40px);
  opacity:0;pointer-events:none
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 28px 15px 24px
}

.header h3{
  color: #f9004d;
  font-weight:700
}

.header nav{
  display:flex;
  align-items:center
}

.header nav ul{
  display:flex;
  align-items:center
}

.header nav ul li{
  padding:16px
}

.header nav ul li a{
  text-decoration:none;
  font-size:16px;
  color:#111;
  font-weight:700
}

.header nav ul li a:hover{
  text-decoration:underline
}

.header .buttons{
  display:flex
}

.header .buttons button{
  font-size:16px;
  font-weight:700;
  padding:11px 12px;
  border-radius:24px;
  border:none;
  outline:none;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:background-color .2s
}

.header .buttons button.login{
  color:#fff;
  background-color: #f9004d;

}

.header .buttons button.login:hover{
  background-color:#f9004d
}

.header .buttons button.sign-up{
  margin-left:16px;
  background-color:#EFEFEF
}

.header .buttons button.sign-up:hover{
  background-color:#d6d6d6
}

.heading{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  margin-top:500px
}

.heading .text{
  font-size:60px;
  font-weight:bold
}

.heading .wrapper{
  position:relative
}

.heading .wrapper .offset{
  position:absolute;
  top:0;left:0;
  transform:translateX(-50%)
}

.heading .wrapper .offset .text{
  white-space:nowrap;
  color:#f9004d;
  transition-duration:1s
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to left top, #990536, #f9004d);
  
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #f3f1f1;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(1.85);
}
.wrapper i:first-child{
  left: -75px;
  /*espaço da seta*/
}
.wrapper i:last-child{
  right: 195px;
  /*espaço da seta esquerda*/
}
.main_section{
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
}
.carousel{
  display: flex;
  justify-content: center;
  width: calc(100% - 270px)
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fcfafa;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 10px;
  margin:5px; 
  /*espaço entre as abas*/
  
}
.carousel .card .img {
  background: #f9004d;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  align-items: center;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f1f1f1;
}
.carousel .card h2 {
  font-weight: 300;
  font-size: 1.56rem;
  margin: 20px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 300px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 50px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}